<footer class="footer">
    <div class="center">
        <a href="/"><img src="../images/pairstextimage.png" width="230" height="140" class="footer__image"/></a>
        <p class="footer__text">2023 © All rights reserved</p>
    </div>
</footer>