<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script>
$(document).ready(function(){
  
  $(".fa-search").click(function(){
    $(".wrap active, .myInput").toggleClass("active");
    $("input[type='text']").focus();
  });

});

function resetButtonBind() {
    $(document).on(
		'click', 
		'.reset_button', 
		function() {
			$(this).parents('form').reset()
		}
	)
}

function logout() {
  // Получение массива кук
  var cookies = document.cookie.split(";");

  // Очистка каждой куки
  for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i];
    var eqPos = cookie.indexOf("=");
    var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
    document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
  }
  window.location.replace("/");
}

setTimeout(function(){
  document.getElementById('preloader').style.display = 'none';
}, 1000);
</script>
<script>
    setTimeout(function(){
        document.getElementById('preloader').style.display = 'none';
    }, 1000);

    i = 0;
    dt = ["#F0C3FF", "#FF03D7", "#25AED9", "#872A8F", "#1EFF0B"];
    function cl() {
        document
            .getElementById("changecolor").style.color = dt[i++];
        if (i > dt.length) {
            i = 0;
        }
        setTimeout("cl()", 1000);
    }
    setTimeout("cl()", 1000);

    function logout() {
        document.cookie = "auth" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        location.href = "";
    }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script>
    $(document)
        .ready(function() {
        $(".fa-search")
            .click(function() {
            $(".wrap, .myInput")
                .toggleClass("active");
            $("input[type='text']")
                .focus();
        });
    
    });
</script>
<script>
    document
        .getElementById('picField').onchange = function (evt) {
        let tgt = evt.target || window.event.srcElement, files = tgt.files;
        if (FileReader && files && files.length) {
            let fr = new FileReader();
            fr.onload = function () {
                document.getElementById("outImage").src = fr.result;
            }
            fr.readAsDataURL(files[0]);
        }
    }
</script>
<script>
    document
        .getElementById('name')
        .addEventListener('keyup', function(event) {
            if (event.code === 'Enter')
            {
                event.preventDefault();
                document.querySelector('form').submit();
            }
        });
</script>
</body>
</html>