/*
Инструкция.
За базу взята 12-колоночная сетка bootstrap  дополнена типовыми классами.
.col-{1-12} - ширина колонки 100%/х
.of-{1-12} - отступ колонки от левого края 100%/х
.or-{1-12} - сортировка блоков

классы .col-{1-12}, .of-{1-12}, .or-{1-12} имеют аналогичные адаптивные классы:
.col-xs-{1-12}, .of-xs-{1-12}, .or-xs-{1-12}
.col-sm-{1-12}, .of-sm-{1-12}, .or-sm-{1-12}
.col-md-{1-12}, .of-md-{1-12}, .or-md-{1-12}
.col-lg-{1-12}, .of-lg-{1-12}, .or-lg-{1-12}
.col-xl-{1-12}, .of-xl-{1-12}, .or-xl-{1-12}

Есть вспомогательные классы (все они имеют вспомогательные адаптивные по типу {xs/sm/md/lg/xl}-{className}):
Внутренние отступы (padding)
.p*
.pt*
.pb*
.pl*
.pt*
Внешние отступы (margin)
.m*
.mt*
.mb*
.ml*
.mt*
Размер шрифта (font-size)
.fs*
Жирность шрифта (font-weight)
.fw*
Выравнивание шрифта (text-align)
.ta{l/c/r/j}
Тип элемента (display)
.d{n/i/b/f}
Позиционирование (position)
.p{s/a/r/f}
Межстрочный интервал (line-height)
.lh*
Выравнивание блока (float)
.f{n/l/r}

Так же есть дополнительные классы, без адаптивных копий.
.ai-start, .ai-end, .ai-center, .ai-baseline, .ai-stretch, 
.ac-start, .ac-end, .ac-center, .ac-between, .ac-around, .ac-stretch, 
.jc-start, .jc-end, .jc-center, .jc-between, .jc-around


Задача максимально использовать данные классы.
Если в html у элементов будет хоть 10 классов - это нормально.


вместо написания своего css:
.primary-btn {
  font-weight: 900;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
  border: solid 2px;
}
Вы должны просто указать набор классов:
class="fw900 fs18 p20 br10 b2"

Внимание!!!!
Гриды использовать неприемлемо.
свойство gap так же недопустимо.
Все что касается гридов - недопустимо.

*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{overflow-x: hidden;margin:0;line-height: 1.5;font-family: Montserrat;}
a{background-color:transparent;color: inherit;}
a:active,a:hover{outline:0}
b,strong{font-weight:700}
h1{font-size:2em;margin:.67em 0}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}sub{bottom:-.25em}
hr{box-sizing:content-box;height:1px;border:none;margin: 0;}
pre{overflow:auto}
pre{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,
samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none}
textarea{overflow:auto}
body *{box-sizing:border-box}
a{margin:0;padding:0;vertical-align:baseline;background:transparent;text-decoration:none;outline:none}
html {-ms-overflow-style: scrollbar;box-sizing: border-box;}
img{max-width: 100%;max-height: 100%; border:0;vertical-align:bottom;}
*,*::before,*::after {box-sizing: inherit;}
li {list-style: none;}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
{
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
.row {
  -ms-flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 100%;
}

.fs1 {font-size: 1px;}
.fs10 {font-size: 10px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs16 {font-size: 16px;}
.fs18 {font-size: 18px;}
.fs20 {font-size: 20px;}
.fs22 {font-size: 22px;}
.fs24 {font-size: 24px;}
.fs26 {font-size: 26px;}
.fs28 {font-size: 28px;}
.fs32 {font-size: 32px;}
.fs36 {font-size: 36px;}
.fs40 {font-size: 40px;}
.fs44 {font-size: 44px;}
.fs48 {font-size: 48px;}
.fs60 {font-size: 60px;}
.fs70 {font-size: 70px;}
.fs100 {font-size: 100px;}

.col-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}

.of-1 {margin-left: 8.333333%;}
.of-2 {margin-left: 16.666667%;}
.of-3 {margin-left: 25%;}
.of-4 {margin-left: 33.333333%;}
.of-5 {margin-left: 41.666667%;}
.of-6 {margin-left: 50%;}
.of-7 {margin-left: 58.333333%;}
.of-8 {margin-left: 66.666667%;}
.of-9 {margin-left: 75%;}
.of-10 {margin-left: 83.333333%;}
.of-11 {margin-left: 91.666667%;}
.of-12 {margin-left: 100%;}

.or-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
.or-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
.or-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
.or-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
.or-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
.or-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
.or-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
.or-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
.or-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
.or-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
.or-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
.or-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
.or-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
.ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
.ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
.ai-center {-ms-flex-align: center !important;align-items: center !important;}
.ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
.ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
.ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
.ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
.ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
.ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
.ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
.ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
.jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
.jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
.jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
.jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
.jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
.p0 {padding: 0px;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p15 {padding: 15px;}
.p20 {padding: 20px;}
.p25 {padding: 25px;}
.p30 {padding: 30px;}
.p40 {padding: 40px;}
.p50 {padding: 50px;}
.p60 {padding: 60px;}
.p70 {padding: 70px;}
.p80 {padding: 80px;}
.p90 {padding: 90px;}
.p100 {padding: 100px;}
.p200 {padding: 200px;}
.pt0 {padding: 0px;}
.pt5 {padding: 5px;}
.pt10 {padding: 10px;}
.pt15 {padding: 15px;}
.pt20 {padding: 20px;}
.pt25 {padding: 25px;}
.pt30 {padding: 30px;}
.pt40 {padding: 40px;}
.pt50 {padding: 50px;}
.pt60 {padding: 60px;}
.pt70 {padding: 70px;}
.pt80 {padding: 80px;}
.pt90 {padding: 90px;}
.pt100 {padding: 100px;}
.pt200 {padding: 200px;}
.pb0 {padding: 0px;}
.pb5 {padding: 5px;}
.pb10 {padding: 10px;}
.pb15 {padding: 15px;}
.pb20 {padding: 20px;}
.pb25 {padding: 25px;}
.pb30 {padding: 30px;}
.pb40 {padding: 40px;}
.pb50 {padding: 50px;}
.pb60 {padding: 60px;}
.pb70 {padding: 70px;}
.pb80 {padding: 80px;}
.pb90 {padding: 90px;}
.pb100 {padding: 100px;}
.pb200 {padding: 200px;}
.pl0 {padding: 0px;}
.pl5 {padding: 5px;}
.pl10 {padding: 10px;}
.pl15 {padding: 15px;}
.pl20 {padding: 20px;}
.pl25 {padding: 25px;}
.pl30 {padding: 30px;}
.pl40 {padding: 40px;}
.pl50 {padding: 50px;}
.pl60 {padding: 60px;}
.pl70 {padding: 70px;}
.pl80 {padding: 80px;}
.pl90 {padding: 90px;}
.pl100 {padding: 100px;}
.pl200 {padding: 200px;}
.pr0 {padding: 0px;}
.pr5 {padding: 5px;}
.pr10 {padding: 10px;}
.pr15 {padding: 15px;}
.pr20 {padding: 20px;}
.pr25 {padding: 25px;}
.pr30 {padding: 30px;}
.pr40 {padding: 40px;}
.pr50 {padding: 50px;}
.pr60 {padding: 60px;}
.pr70 {padding: 70px;}
.pr80 {padding: 80px;}
.pr90 {padding: 90px;}
.pr100 {padding: 100px;}
.pr200 {padding: 200px;}
.m0 {margin: 0px;}
.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}
.m40 {margin: 40px;}
.m50 {margin: 50px;}
.m60 {margin: 60px;}
.m70 {margin: 70px;}
.m80 {margin: 80px;}
.m90 {margin: 90px;}
.m100 {margin: 100px;}
.m200 {margin: 200px;}
.mt0 {margin: 0px;}
.mt5 {margin: 5px;}
.mt10 {margin: 10px;}
.mt15 {margin: 15px;}
.mt20 {margin: 20px;}
.mt25 {margin: 25px;}
.mt30 {margin: 30px;}
.mt40 {margin: 40px;}
.mt50 {margin: 50px;}
.mt60 {margin: 60px;}
.mt70 {margin: 70px;}
.mt80 {margin: 80px;}
.mt90 {margin: 90px;}
.mt100 {margin: 100px;}
.mt200 {margin: 200px;}
.mb0 {margin: 0px;}
.mb5 {margin: 5px;}
.mb10 {margin: 10px;}
.mb15 {margin: 15px;}
.mb20 {margin: 20px;}
.mb25 {margin: 25px;}
.mb30 {margin: 30px;}
.mb40 {margin: 40px;}
.mb50 {margin: 50px;}
.mb60 {margin: 60px;}
.mb70 {margin: 70px;}
.mb80 {margin: 80px;}
.mb90 {margin: 90px;}
.mb100 {margin: 100px;}
.mb200 {margin: 200px;}
.ml0 {margin: 0px;}
.ml5 {margin: 5px;}
.ml10 {margin: 10px;}
.ml15 {margin: 15px;}
.ml20 {margin: 20px;}
.ml25 {margin: 25px;}
.ml30 {margin: 30px;}
.ml40 {margin: 40px;}
.ml50 {margin: 50px;}
.ml60 {margin: 60px;}
.ml70 {margin: 70px;}
.ml80 {margin: 80px;}
.ml90 {margin: 90px;}
.ml100 {margin: 100px;}
.ml200 {margin: 200px;}
.mr0 {margin: 0px;}
.mr5 {margin: 5px;}
.mr10 {margin: 10px;}
.mr15 {margin: 15px;}
.mr20 {margin: 20px;}
.mr25 {margin: 25px;}
.mr30 {margin: 30px;}
.mr40 {margin: 40px;}
.mr50 {margin: 50px;}
.mr60 {margin: 60px;}
.mr70 {margin: 70px;}
.mr80 {margin: 80px;}
.mr90 {margin: 90px;}
.mr100 {margin: 100px;}
.mr200 {margin: 200px;}
.fw100 {font-weight: 100;}
.fw200 {font-weight: 200;}
.fw300 {font-weight: 300;}
.fw400 {font-weight: 400;}
.fw500 {font-weight: 500;}
.fw600 {font-weight: 600;}
.fw700 {font-weight: 700;}
.fw800 {font-weight: 800;}
.fw900 {font-weight: 900;}
.tal {text-align: left;}
.tar {text-align: right;}
.tac {text-align: center;}
.taj {text-align: justify;}
.fn {float: none;}
.fr {float: right;}
.fl {float: left;}
.dn{display: none !important;}
.di{display: inline !important;}
.db{display: block !important;}
.df{display: flex !important;}
.dib{display: inline-block !important;}
.lh0 {line-height: 0;}
.lh5 {line-height: 0.5;}
.lh10 {line-height: 1;}
.lh12 {line-height: 1.2;}
.lh15 {line-height: 1.5;}
.lh20 {line-height: 2;}
.pa{position: absolute;}
.pf{position: fixed;}
.pr{position: relative;}
.ps{position: static;}

@media (min-width: 480px) {
  .col-xs-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col-xs-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-xs-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-xs-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-xs-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-xs-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col-xs-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-xs-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-xs-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col-xs-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-xs-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-xs-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
  .of-xs-0 {margin-left: 0;}
  .of-xs-1 {margin-left: 8.333333%;}
  .of-xs-2 {margin-left: 16.666667%;}
  .of-xs-3 {margin-left: 25%;}
  .of-xs-4 {margin-left: 33.333333%;}
  .of-xs-5 {margin-left: 41.666667%;}
  .of-xs-6 {margin-left: 50%;}
  .of-xs-7 {margin-left: 58.333333%;}
  .of-xs-8 {margin-left: 66.666667%;}
  .of-xs-9 {margin-left: 75%;}
  .of-xs-10 {margin-left: 83.333333%;}
  .of-xs-11 {margin-left: 91.666667%;}
  .of-xs-12 {margin-left: 100%;}
  .or-xs-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
  .or-xs-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .or-xs-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .or-xs-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .or-xs-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
  .or-xs-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
  .or-xs-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
  .or-xs-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
  .or-xs-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
  .or-xs-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
  .or-xs-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
  .or-xs-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
  .or-xs-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
  .xs-ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
  .xs-ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
  .xs-ai-center {-ms-flex-align: center !important;align-items: center !important;}
  .xs-ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
  .xs-ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
  .xs-ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
  .xs-ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
  .xs-ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
  .xs-ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
  .xs-ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
  .xs-ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
  .xs-jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
  .xs-jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
  .xs-jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
  .xs-jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
  .xs-jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
  .xs-p0 {padding: 0px;}
  .xs-p5 {padding: 5px;}
  .xs-p10 {padding: 10px;}
  .xs-p15 {padding: 15px;}
  .xs-p20 {padding: 20px;}
  .xs-p25 {padding: 25px;}
  .xs-p30 {padding: 30px;}
  .xs-p40 {padding: 40px;}
  .xs-p50 {padding: 50px;}
  .xs-p60 {padding: 60px;}
  .xs-p70 {padding: 70px;}
  .xs-p80 {padding: 80px;}
  .xs-p90 {padding: 90px;}
  .xs-p100 {padding: 100px;}
  .xs-p200 {padding: 200px;}
  .xs-pt0 {padding: 0px;}
  .xs-pt5 {padding: 5px;}
  .xs-pt10 {padding: 10px;}
  .xs-pt15 {padding: 15px;}
  .xs-pt20 {padding: 20px;}
  .xs-pt25 {padding: 25px;}
  .xs-pt30 {padding: 30px;}
  .xs-pt40 {padding: 40px;}
  .xs-pt50 {padding: 50px;}
  .xs-pt60 {padding: 60px;}
  .xs-pt70 {padding: 70px;}
  .xs-pt80 {padding: 80px;}
  .xs-pt90 {padding: 90px;}
  .xs-pt100 {padding: 100px;}
  .xs-pt200 {padding: 200px;}
  .xs-pb0 {padding: 0px;}
  .xs-pb5 {padding: 5px;}
  .xs-pb10 {padding: 10px;}
  .xs-pb15 {padding: 15px;}
  .xs-pb20 {padding: 20px;}
  .xs-pb25 {padding: 25px;}
  .xs-pb30 {padding: 30px;}
  .xs-pb40 {padding: 40px;}
  .xs-pb50 {padding: 50px;}
  .xs-pb60 {padding: 60px;}
  .xs-pb70 {padding: 70px;}
  .xs-pb80 {padding: 80px;}
  .xs-pb90 {padding: 90px;}
  .xs-pb100 {padding: 100px;}
  .xs-pb200 {padding: 200px;}
  .xs-pl0 {padding: 0px;}
  .xs-pl5 {padding: 5px;}
  .xs-pl10 {padding: 10px;}
  .xs-pl15 {padding: 15px;}
  .xs-pl20 {padding: 20px;}
  .xs-pl25 {padding: 25px;}
  .xs-pl30 {padding: 30px;}
  .xs-pl40 {padding: 40px;}
  .xs-pl50 {padding: 50px;}
  .xs-pl60 {padding: 60px;}
  .xs-pl70 {padding: 70px;}
  .xs-pl80 {padding: 80px;}
  .xs-pl90 {padding: 90px;}
  .xs-pl100 {padding: 100px;}
  .xs-pl200 {padding: 200px;}
  .xs-pr0 {padding: 0px;}
  .xs-pr5 {padding: 5px;}
  .xs-pr10 {padding: 10px;}
  .xs-pr15 {padding: 15px;}
  .xs-pr20 {padding: 20px;}
  .xs-pr25 {padding: 25px;}
  .xs-pr30 {padding: 30px;}
  .xs-pr40 {padding: 40px;}
  .xs-pr50 {padding: 50px;}
  .xs-pr60 {padding: 60px;}
  .xs-pr70 {padding: 70px;}
  .xs-pr80 {padding: 80px;}
  .xs-pr90 {padding: 90px;}
  .xs-pr100 {padding: 100px;}
  .xs-pr200 {padding: 200px;}
  .xs-m0 {margin: 0px;}
  .xs-m5 {margin: 5px;}
  .xs-m10 {margin: 10px;}
  .xs-m15 {margin: 15px;}
  .xs-m20 {margin: 20px;}
  .xs-m25 {margin: 25px;}
  .xs-m30 {margin: 30px;}
  .xs-m40 {margin: 40px;}
  .xs-m50 {margin: 50px;}
  .xs-m60 {margin: 60px;}
  .xs-m70 {margin: 70px;}
  .xs-m80 {margin: 80px;}
  .xs-m90 {margin: 90px;}
  .xs-m100 {margin: 100px;}
  .xs-m200 {margin: 200px;}
  .xs-mt0 {margin: 0px;}
  .xs-mt5 {margin: 5px;}
  .xs-mt10 {margin: 10px;}
  .xs-mt15 {margin: 15px;}
  .xs-mt20 {margin: 20px;}
  .xs-mt25 {margin: 25px;}
  .xs-mt30 {margin: 30px;}
  .xs-mt40 {margin: 40px;}
  .xs-mt50 {margin: 50px;}
  .xs-mt60 {margin: 60px;}
  .xs-mt70 {margin: 70px;}
  .xs-mt80 {margin: 80px;}
  .xs-mt90 {margin: 90px;}
  .xs-mt100 {margin: 100px;}
  .xs-mt200 {margin: 200px;}
  .xs-mb0 {margin: 0px;}
  .xs-mb5 {margin: 5px;}
  .xs-mb10 {margin: 10px;}
  .xs-mb15 {margin: 15px;}
  .xs-mb20 {margin: 20px;}
  .xs-mb25 {margin: 25px;}
  .xs-mb30 {margin: 30px;}
  .xs-mb40 {margin: 40px;}
  .xs-mb50 {margin: 50px;}
  .xs-mb60 {margin: 60px;}
  .xs-mb70 {margin: 70px;}
  .xs-mb80 {margin: 80px;}
  .xs-mb90 {margin: 90px;}
  .xs-mb100 {margin: 100px;}
  .xs-mb200 {margin: 200px;}
  .xs-ml0 {margin: 0px;}
  .xs-ml5 {margin: 5px;}
  .xs-ml10 {margin: 10px;}
  .xs-ml15 {margin: 15px;}
  .xs-ml20 {margin: 20px;}
  .xs-ml25 {margin: 25px;}
  .xs-ml30 {margin: 30px;}
  .xs-ml40 {margin: 40px;}
  .xs-ml50 {margin: 50px;}
  .xs-ml60 {margin: 60px;}
  .xs-ml70 {margin: 70px;}
  .xs-ml80 {margin: 80px;}
  .xs-ml90 {margin: 90px;}
  .xs-ml100 {margin: 100px;}
  .xs-ml200 {margin: 200px;}
  .xs-mr0 {margin: 0px;}
  .xs-mr5 {margin: 5px;}
  .xs-mr10 {margin: 10px;}
  .xs-mr15 {margin: 15px;}
  .xs-mr20 {margin: 20px;}
  .xs-mr25 {margin: 25px;}
  .xs-mr30 {margin: 30px;}
  .xs-mr40 {margin: 40px;}
  .xs-mr50 {margin: 50px;}
  .xs-mr60 {margin: 60px;}
  .xs-mr70 {margin: 70px;}
  .xs-mr80 {margin: 80px;}
  .xs-mr90 {margin: 90px;}
  .xs-mr100 {margin: 100px;}
  .xs-mr200 {margin: 200px;}
  .xs-fw100 {font-weight: 100;}
  .xs-fw200 {font-weight: 200;}
  .xs-fw300 {font-weight: 300;}
  .xs-fw400 {font-weight: 400;}
  .xs-fw500 {font-weight: 500;}
  .xs-fw600 {font-weight: 600;}
  .xs-fw700 {font-weight: 700;}
  .xs-fw800 {font-weight: 800;}
  .xs-fw900 {font-weight: 900;}
  .xs-tal {text-align: left;}
  .xs-tar {text-align: right;}
  .xs-tac {text-align: center;}
  .xs-taj {text-align: justify;}
  .xs-fn {float: none;}
  .xs-fr {float: right;}
  .xs-fl {float: left;}
  .xs-dn{display: none !important;}
  .xs-di{display: inline !important;}
  .xs-db{display: block !important;}
  .xs-df{display: flex !important;}
  .xs-dib{display: inline-block !important;}
  .xs-lh0 {line-height: 0;}
  .xs-lh5 {line-height: 0.5;}
  .xs-lh10 {line-height: 1;}
  .xs-lh12 {line-height: 1.2;}
  .xs-lh15 {line-height: 1.5;}
  .xs-lh20 {line-height: 2;}
  .xs-pa{position: absolute;}
  .xs-pf{position: fixed;}
  .xs-pr{position: relative;}
  .xs-ps{position: static;}
}
@media (min-width: 768px) {
  .col-sm-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col-sm-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-sm-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-sm-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-sm-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-sm-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col-sm-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-sm-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-sm-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col-sm-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-sm-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-sm-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
  .of-sm-0 {margin-left: 0;}
  .of-sm-1 {margin-left: 8.333333%;}
  .of-sm-2 {margin-left: 16.666667%;}
  .of-sm-3 {margin-left: 25%;}
  .of-sm-4 {margin-left: 33.333333%;}
  .of-sm-5 {margin-left: 41.666667%;}
  .of-sm-6 {margin-left: 50%;}
  .of-sm-7 {margin-left: 58.333333%;}
  .of-sm-8 {margin-left: 66.666667%;}
  .of-sm-9 {margin-left: 75%;}
  .of-sm-10 {margin-left: 83.333333%;}
  .of-sm-11 {margin-left: 91.666667%;}
  .of-sm-12 {margin-left: 100%;}
  .or-sm-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
  .or-sm-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .or-sm-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .or-sm-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .or-sm-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
  .or-sm-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
  .or-sm-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
  .or-sm-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
  .or-sm-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
  .or-sm-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
  .or-sm-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
  .or-sm-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
  .or-sm-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
  .sm-ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
  .sm-ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
  .sm-ai-center {-ms-flex-align: center !important;align-items: center !important;}
  .sm-ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
  .sm-ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
  .sm-ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
  .sm-ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
  .sm-ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
  .sm-ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
  .sm-ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
  .sm-ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
  .sm-jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
  .sm-jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
  .sm-jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
  .sm-jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
  .sm-jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
  .sm-p0 {padding: 0px;}
  .sm-p5 {padding: 5px;}
  .sm-p10 {padding: 10px;}
  .sm-p15 {padding: 15px;}
  .sm-p20 {padding: 20px;}
  .sm-p25 {padding: 25px;}
  .sm-p30 {padding: 30px;}
  .sm-p40 {padding: 40px;}
  .sm-p50 {padding: 50px;}
  .sm-p60 {padding: 60px;}
  .sm-p70 {padding: 70px;}
  .sm-p80 {padding: 80px;}
  .sm-p90 {padding: 90px;}
  .sm-p100 {padding: 100px;}
  .sm-p200 {padding: 200px;}
  .sm-pt0 {padding: 0px;}
  .sm-pt5 {padding: 5px;}
  .sm-pt10 {padding: 10px;}
  .sm-pt15 {padding: 15px;}
  .sm-pt20 {padding: 20px;}
  .sm-pt25 {padding: 25px;}
  .sm-pt30 {padding: 30px;}
  .sm-pt40 {padding: 40px;}
  .sm-pt50 {padding: 50px;}
  .sm-pt60 {padding: 60px;}
  .sm-pt70 {padding: 70px;}
  .sm-pt80 {padding: 80px;}
  .sm-pt90 {padding: 90px;}
  .sm-pt100 {padding: 100px;}
  .sm-pt200 {padding: 200px;}
  .sm-pb0 {padding: 0px;}
  .sm-pb5 {padding: 5px;}
  .sm-pb10 {padding: 10px;}
  .sm-pb15 {padding: 15px;}
  .sm-pb20 {padding: 20px;}
  .sm-pb25 {padding: 25px;}
  .sm-pb30 {padding: 30px;}
  .sm-pb40 {padding: 40px;}
  .sm-pb50 {padding: 50px;}
  .sm-pb60 {padding: 60px;}
  .sm-pb70 {padding: 70px;}
  .sm-pb80 {padding: 80px;}
  .sm-pb90 {padding: 90px;}
  .sm-pb100 {padding: 100px;}
  .sm-pb200 {padding: 200px;}
  .sm-pl0 {padding: 0px;}
  .sm-pl5 {padding: 5px;}
  .sm-pl10 {padding: 10px;}
  .sm-pl15 {padding: 15px;}
  .sm-pl20 {padding: 20px;}
  .sm-pl25 {padding: 25px;}
  .sm-pl30 {padding: 30px;}
  .sm-pl40 {padding: 40px;}
  .sm-pl50 {padding: 50px;}
  .sm-pl60 {padding: 60px;}
  .sm-pl70 {padding: 70px;}
  .sm-pl80 {padding: 80px;}
  .sm-pl90 {padding: 90px;}
  .sm-pl100 {padding: 100px;}
  .sm-pl200 {padding: 200px;}
  .sm-pr0 {padding: 0px;}
  .sm-pr5 {padding: 5px;}
  .sm-pr10 {padding: 10px;}
  .sm-pr15 {padding: 15px;}
  .sm-pr20 {padding: 20px;}
  .sm-pr25 {padding: 25px;}
  .sm-pr30 {padding: 30px;}
  .sm-pr40 {padding: 40px;}
  .sm-pr50 {padding: 50px;}
  .sm-pr60 {padding: 60px;}
  .sm-pr70 {padding: 70px;}
  .sm-pr80 {padding: 80px;}
  .sm-pr90 {padding: 90px;}
  .sm-pr100 {padding: 100px;}
  .sm-pr200 {padding: 200px;}
  .sm-m0 {margin: 0px;}
  .sm-m5 {margin: 5px;}
  .sm-m10 {margin: 10px;}
  .sm-m15 {margin: 15px;}
  .sm-m20 {margin: 20px;}
  .sm-m25 {margin: 25px;}
  .sm-m30 {margin: 30px;}
  .sm-m40 {margin: 40px;}
  .sm-m50 {margin: 50px;}
  .sm-m60 {margin: 60px;}
  .sm-m70 {margin: 70px;}
  .sm-m80 {margin: 80px;}
  .sm-m90 {margin: 90px;}
  .sm-m100 {margin: 100px;}
  .sm-m200 {margin: 200px;}
  .sm-mt0 {margin: 0px;}
  .sm-mt5 {margin: 5px;}
  .sm-mt10 {margin: 10px;}
  .sm-mt15 {margin: 15px;}
  .sm-mt20 {margin: 20px;}
  .sm-mt25 {margin: 25px;}
  .sm-mt30 {margin: 30px;}
  .sm-mt40 {margin: 40px;}
  .sm-mt50 {margin: 50px;}
  .sm-mt60 {margin: 60px;}
  .sm-mt70 {margin: 70px;}
  .sm-mt80 {margin: 80px;}
  .sm-mt90 {margin: 90px;}
  .sm-mt100 {margin: 100px;}
  .sm-mt200 {margin: 200px;}
  .sm-mb0 {margin: 0px;}
  .sm-mb5 {margin: 5px;}
  .sm-mb10 {margin: 10px;}
  .sm-mb15 {margin: 15px;}
  .sm-mb20 {margin: 20px;}
  .sm-mb25 {margin: 25px;}
  .sm-mb30 {margin: 30px;}
  .sm-mb40 {margin: 40px;}
  .sm-mb50 {margin: 50px;}
  .sm-mb60 {margin: 60px;}
  .sm-mb70 {margin: 70px;}
  .sm-mb80 {margin: 80px;}
  .sm-mb90 {margin: 90px;}
  .sm-mb100 {margin: 100px;}
  .sm-mb200 {margin: 200px;}
  .sm-ml0 {margin: 0px;}
  .sm-ml5 {margin: 5px;}
  .sm-ml10 {margin: 10px;}
  .sm-ml15 {margin: 15px;}
  .sm-ml20 {margin: 20px;}
  .sm-ml25 {margin: 25px;}
  .sm-ml30 {margin: 30px;}
  .sm-ml40 {margin: 40px;}
  .sm-ml50 {margin: 50px;}
  .sm-ml60 {margin: 60px;}
  .sm-ml70 {margin: 70px;}
  .sm-ml80 {margin: 80px;}
  .sm-ml90 {margin: 90px;}
  .sm-ml100 {margin: 100px;}
  .sm-ml200 {margin: 200px;}
  .sm-mr0 {margin: 0px;}
  .sm-mr5 {margin: 5px;}
  .sm-mr10 {margin: 10px;}
  .sm-mr15 {margin: 15px;}
  .sm-mr20 {margin: 20px;}
  .sm-mr25 {margin: 25px;}
  .sm-mr30 {margin: 30px;}
  .sm-mr40 {margin: 40px;}
  .sm-mr50 {margin: 50px;}
  .sm-mr60 {margin: 60px;}
  .sm-mr70 {margin: 70px;}
  .sm-mr80 {margin: 80px;}
  .sm-mr90 {margin: 90px;}
  .sm-mr100 {margin: 100px;}
  .sm-mr200 {margin: 200px;}
  .sm-fw100 {font-weight: 100;}
  .sm-fw200 {font-weight: 200;}
  .sm-fw300 {font-weight: 300;}
  .sm-fw400 {font-weight: 400;}
  .sm-fw500 {font-weight: 500;}
  .sm-fw600 {font-weight: 600;}
  .sm-fw700 {font-weight: 700;}
  .sm-fw800 {font-weight: 800;}
  .sm-fw900 {font-weight: 900;}
  .sm-tal {text-align: left;}
  .sm-tar {text-align: right;}
  .sm-tac {text-align: center;}
  .sm-taj {text-align: justify;}
  .sm-fn {float: none;}
  .sm-fr {float: right;}
  .sm-fl {float: left;}
  .sm-dn{display: none !important;}
  .sm-di{display: inline !important;}
  .sm-db{display: block !important;}
  .sm-df{display: flex !important;}
  .sm-dib{display: inline-block !important;}
  .sm-lh0 {line-height: 0;}
  .sm-lh5 {line-height: 0.5;}
  .sm-lh10 {line-height: 1;}
  .sm-lh12 {line-height: 1.2;}
  .sm-lh15 {line-height: 1.5;}
  .sm-lh20 {line-height: 2;}
  .sm-pa{position: absolute;}
  .sm-pf{position: fixed;}
  .sm-pr{position: relative;}
  .sm-ps{position: static;}
}
@media (min-width: 992px) {
  .container {max-width: 992px;}
  .col-md-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col-md-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-md-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-md-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-md-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-md-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col-md-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-md-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-md-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col-md-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-md-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-md-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
  .of-md-0 {margin-left: 0;}
  .of-md-1 {margin-left: 8.333333%;}
  .of-md-2 {margin-left: 16.666667%;}
  .of-md-3 {margin-left: 25%;}
  .of-md-4 {margin-left: 33.333333%;}
  .of-md-5 {margin-left: 41.666667%;}
  .of-md-6 {margin-left: 50%;}
  .of-md-7 {margin-left: 58.333333%;}
  .of-md-8 {margin-left: 66.666667%;}
  .of-md-9 {margin-left: 75%;}
  .of-md-10 {margin-left: 83.333333%;}
  .of-md-11 {margin-left: 91.666667%;}
  .of-md-12 {margin-left: 100%;}
  .or-md-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
  .or-md-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .or-md-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .or-md-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .or-md-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
  .or-md-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
  .or-md-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
  .or-md-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
  .or-md-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
  .or-md-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
  .or-md-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
  .or-md-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
  .or-md-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
  .md-ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
  .md-ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
  .md-ai-center {-ms-flex-align: center !important;align-items: center !important;}
  .md-ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
  .md-ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
  .md-ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
  .md-ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
  .md-ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
  .md-ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
  .md-ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
  .md-ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
  .md-jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
  .md-jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
  .md-jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
  .md-jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
  .md-jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
  .md-p0 {padding: 0px;}
  .md-p5 {padding: 5px;}
  .md-p10 {padding: 10px;}
  .md-p15 {padding: 15px;}
  .md-p20 {padding: 20px;}
  .md-p25 {padding: 25px;}
  .md-p30 {padding: 30px;}
  .md-p40 {padding: 40px;}
  .md-p50 {padding: 50px;}
  .md-p60 {padding: 60px;}
  .md-p70 {padding: 70px;}
  .md-p80 {padding: 80px;}
  .md-p90 {padding: 90px;}
  .md-p100 {padding: 100px;}
  .md-p200 {padding: 200px;}
  .md-pt0 {padding: 0px;}
  .md-pt5 {padding: 5px;}
  .md-pt10 {padding: 10px;}
  .md-pt15 {padding: 15px;}
  .md-pt20 {padding: 20px;}
  .md-pt25 {padding: 25px;}
  .md-pt30 {padding: 30px;}
  .md-pt40 {padding: 40px;}
  .md-pt50 {padding: 50px;}
  .md-pt60 {padding: 60px;}
  .md-pt70 {padding: 70px;}
  .md-pt80 {padding: 80px;}
  .md-pt90 {padding: 90px;}
  .md-pt100 {padding: 100px;}
  .md-pt200 {padding: 200px;}
  .md-pb0 {padding: 0px;}
  .md-pb5 {padding: 5px;}
  .md-pb10 {padding: 10px;}
  .md-pb15 {padding: 15px;}
  .md-pb20 {padding: 20px;}
  .md-pb25 {padding: 25px;}
  .md-pb30 {padding: 30px;}
  .md-pb40 {padding: 40px;}
  .md-pb50 {padding: 50px;}
  .md-pb60 {padding: 60px;}
  .md-pb70 {padding: 70px;}
  .md-pb80 {padding: 80px;}
  .md-pb90 {padding: 90px;}
  .md-pb100 {padding: 100px;}
  .md-pb200 {padding: 200px;}
  .md-pl0 {padding: 0px;}
  .md-pl5 {padding: 5px;}
  .md-pl10 {padding: 10px;}
  .md-pl15 {padding: 15px;}
  .md-pl20 {padding: 20px;}
  .md-pl25 {padding: 25px;}
  .md-pl30 {padding: 30px;}
  .md-pl40 {padding: 40px;}
  .md-pl50 {padding: 50px;}
  .md-pl60 {padding: 60px;}
  .md-pl70 {padding: 70px;}
  .md-pl80 {padding: 80px;}
  .md-pl90 {padding: 90px;}
  .md-pl100 {padding: 100px;}
  .md-pl200 {padding: 200px;}
  .md-pr0 {padding: 0px;}
  .md-pr5 {padding: 5px;}
  .md-pr10 {padding: 10px;}
  .md-pr15 {padding: 15px;}
  .md-pr20 {padding: 20px;}
  .md-pr25 {padding: 25px;}
  .md-pr30 {padding: 30px;}
  .md-pr40 {padding: 40px;}
  .md-pr50 {padding: 50px;}
  .md-pr60 {padding: 60px;}
  .md-pr70 {padding: 70px;}
  .md-pr80 {padding: 80px;}
  .md-pr90 {padding: 90px;}
  .md-pr100 {padding: 100px;}
  .md-pr200 {padding: 200px;}
  .md-m0 {margin: 0px;}
  .md-m5 {margin: 5px;}
  .md-m10 {margin: 10px;}
  .md-m15 {margin: 15px;}
  .md-m20 {margin: 20px;}
  .md-m25 {margin: 25px;}
  .md-m30 {margin: 30px;}
  .md-m40 {margin: 40px;}
  .md-m50 {margin: 50px;}
  .md-m60 {margin: 60px;}
  .md-m70 {margin: 70px;}
  .md-m80 {margin: 80px;}
  .md-m90 {margin: 90px;}
  .md-m100 {margin: 100px;}
  .md-m200 {margin: 200px;}
  .md-mt0 {margin: 0px;}
  .md-mt5 {margin: 5px;}
  .md-mt10 {margin: 10px;}
  .md-mt15 {margin: 15px;}
  .md-mt20 {margin: 20px;}
  .md-mt25 {margin: 25px;}
  .md-mt30 {margin: 30px;}
  .md-mt40 {margin: 40px;}
  .md-mt50 {margin: 50px;}
  .md-mt60 {margin: 60px;}
  .md-mt70 {margin: 70px;}
  .md-mt80 {margin: 80px;}
  .md-mt90 {margin: 90px;}
  .md-mt100 {margin: 100px;}
  .md-mt200 {margin: 200px;}
  .md-mb0 {margin: 0px;}
  .md-mb5 {margin: 5px;}
  .md-mb10 {margin: 10px;}
  .md-mb15 {margin: 15px;}
  .md-mb20 {margin: 20px;}
  .md-mb25 {margin: 25px;}
  .md-mb30 {margin: 30px;}
  .md-mb40 {margin: 40px;}
  .md-mb50 {margin: 50px;}
  .md-mb60 {margin: 60px;}
  .md-mb70 {margin: 70px;}
  .md-mb80 {margin: 80px;}
  .md-mb90 {margin: 90px;}
  .md-mb100 {margin: 100px;}
  .md-mb200 {margin: 200px;}
  .md-ml0 {margin: 0px;}
  .md-ml5 {margin: 5px;}
  .md-ml10 {margin: 10px;}
  .md-ml15 {margin: 15px;}
  .md-ml20 {margin: 20px;}
  .md-ml25 {margin: 25px;}
  .md-ml30 {margin: 30px;}
  .md-ml40 {margin: 40px;}
  .md-ml50 {margin: 50px;}
  .md-ml60 {margin: 60px;}
  .md-ml70 {margin: 70px;}
  .md-ml80 {margin: 80px;}
  .md-ml90 {margin: 90px;}
  .md-ml100 {margin: 100px;}
  .md-ml200 {margin: 200px;}
  .md-mr0 {margin: 0px;}
  .md-mr5 {margin: 5px;}
  .md-mr10 {margin: 10px;}
  .md-mr15 {margin: 15px;}
  .md-mr20 {margin: 20px;}
  .md-mr25 {margin: 25px;}
  .md-mr30 {margin: 30px;}
  .md-mr40 {margin: 40px;}
  .md-mr50 {margin: 50px;}
  .md-mr60 {margin: 60px;}
  .md-mr70 {margin: 70px;}
  .md-mr80 {margin: 80px;}
  .md-mr90 {margin: 90px;}
  .md-mr100 {margin: 100px;}
  .md-mr200 {margin: 200px;}
  .md-fw100 {font-weight: 100;}
  .md-fw200 {font-weight: 200;}
  .md-fw300 {font-weight: 300;}
  .md-fw400 {font-weight: 400;}
  .md-fw500 {font-weight: 500;}
  .md-fw600 {font-weight: 600;}
  .md-fw700 {font-weight: 700;}
  .md-fw800 {font-weight: 800;}
  .md-fw900 {font-weight: 900;}
  .md-tal {text-align: left;}
  .md-tar {text-align: right;}
  .md-tac {text-align: center;}
  .md-taj {text-align: justify;}
  .md-fn {float: none;}
  .md-fr {float: right;}
  .md-fl {float: left;}
  .md-dn{display: none !important;}
  .md-di{display: inline !important;}
  .md-db{display: block !important;}
  .md-df{display: flex !important;}
  .md-dib{display: inline-block !important;}
  .md-lh0 {line-height: 0;}
  .md-lh5 {line-height: 0.5;}
  .md-lh10 {line-height: 1;}
  .md-lh12 {line-height: 1.2;}
  .md-lh15 {line-height: 1.5;}
  .md-lh20 {line-height: 2;}
  .md-pa{position: absolute;}
  .md-pf{position: fixed;}
  .md-pr{position: relative;}
  .md-ps{position: static;}
}
@media (min-width: 1240px) {
  .container {max-width: 1240px;}
  .col-lg-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col-lg-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-lg-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-lg-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-lg-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-lg-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col-lg-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-lg-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-lg-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col-lg-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-lg-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-lg-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
  .of-lg-0 {margin-left: 0;}
  .of-lg-1 {margin-left: 8.333333%;}
  .of-lg-2 {margin-left: 16.666667%;}
  .of-lg-3 {margin-left: 25%;}
  .of-lg-4 {margin-left: 33.333333%;}
  .of-lg-5 {margin-left: 41.666667%;}
  .of-lg-6 {margin-left: 50%;}
  .of-lg-7 {margin-left: 58.333333%;}
  .of-lg-8 {margin-left: 66.666667%;}
  .of-lg-9 {margin-left: 75%;}
  .of-lg-10 {margin-left: 83.333333%;}
  .of-lg-11 {margin-left: 91.666667%;}
  .of-lg-12 {margin-left: 100%;}
  .or-lg-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
  .or-lg-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .or-lg-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .or-lg-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .or-lg-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
  .or-lg-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
  .or-lg-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
  .or-lg-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
  .or-lg-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
  .or-lg-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
  .or-lg-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
  .or-lg-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
  .or-lg-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
  .lg-ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
  .lg-ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
  .lg-ai-center {-ms-flex-align: center !important;align-items: center !important;}
  .lg-ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
  .lg-ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
  .lg-ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
  .lg-ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
  .lg-ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
  .lg-ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
  .lg-ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
  .lg-ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
  .lg-jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
  .lg-jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
  .lg-jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
  .lg-jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
  .lg-jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
  .lg-p0 {padding: 0px;}
  .lg-p5 {padding: 5px;}
  .lg-p10 {padding: 10px;}
  .lg-p15 {padding: 15px;}
  .lg-p20 {padding: 20px;}
  .lg-p25 {padding: 25px;}
  .lg-p30 {padding: 30px;}
  .lg-p40 {padding: 40px;}
  .lg-p50 {padding: 50px;}
  .lg-p60 {padding: 60px;}
  .lg-p70 {padding: 70px;}
  .lg-p80 {padding: 80px;}
  .lg-p90 {padding: 90px;}
  .lg-p100 {padding: 100px;}
  .lg-p200 {padding: 200px;}
  .lg-pt0 {padding: 0px;}
  .lg-pt5 {padding: 5px;}
  .lg-pt10 {padding: 10px;}
  .lg-pt15 {padding: 15px;}
  .lg-pt20 {padding: 20px;}
  .lg-pt25 {padding: 25px;}
  .lg-pt30 {padding: 30px;}
  .lg-pt40 {padding: 40px;}
  .lg-pt50 {padding: 50px;}
  .lg-pt60 {padding: 60px;}
  .lg-pt70 {padding: 70px;}
  .lg-pt80 {padding: 80px;}
  .lg-pt90 {padding: 90px;}
  .lg-pt100 {padding: 100px;}
  .lg-pt200 {padding: 200px;}
  .lg-pb0 {padding: 0px;}
  .lg-pb5 {padding: 5px;}
  .lg-pb10 {padding: 10px;}
  .lg-pb15 {padding: 15px;}
  .lg-pb20 {padding: 20px;}
  .lg-pb25 {padding: 25px;}
  .lg-pb30 {padding: 30px;}
  .lg-pb40 {padding: 40px;}
  .lg-pb50 {padding: 50px;}
  .lg-pb60 {padding: 60px;}
  .lg-pb70 {padding: 70px;}
  .lg-pb80 {padding: 80px;}
  .lg-pb90 {padding: 90px;}
  .lg-pb100 {padding: 100px;}
  .lg-pb200 {padding: 200px;}
  .lg-pl0 {padding: 0px;}
  .lg-pl5 {padding: 5px;}
  .lg-pl10 {padding: 10px;}
  .lg-pl15 {padding: 15px;}
  .lg-pl20 {padding: 20px;}
  .lg-pl25 {padding: 25px;}
  .lg-pl30 {padding: 30px;}
  .lg-pl40 {padding: 40px;}
  .lg-pl50 {padding: 50px;}
  .lg-pl60 {padding: 60px;}
  .lg-pl70 {padding: 70px;}
  .lg-pl80 {padding: 80px;}
  .lg-pl90 {padding: 90px;}
  .lg-pl100 {padding: 100px;}
  .lg-pl200 {padding: 200px;}
  .lg-pr0 {padding: 0px;}
  .lg-pr5 {padding: 5px;}
  .lg-pr10 {padding: 10px;}
  .lg-pr15 {padding: 15px;}
  .lg-pr20 {padding: 20px;}
  .lg-pr25 {padding: 25px;}
  .lg-pr30 {padding: 30px;}
  .lg-pr40 {padding: 40px;}
  .lg-pr50 {padding: 50px;}
  .lg-pr60 {padding: 60px;}
  .lg-pr70 {padding: 70px;}
  .lg-pr80 {padding: 80px;}
  .lg-pr90 {padding: 90px;}
  .lg-pr100 {padding: 100px;}
  .lg-pr200 {padding: 200px;}
  .lg-m0 {margin: 0px;}
  .lg-m5 {margin: 5px;}
  .lg-m10 {margin: 10px;}
  .lg-m15 {margin: 15px;}
  .lg-m20 {margin: 20px;}
  .lg-m25 {margin: 25px;}
  .lg-m30 {margin: 30px;}
  .lg-m40 {margin: 40px;}
  .lg-m50 {margin: 50px;}
  .lg-m60 {margin: 60px;}
  .lg-m70 {margin: 70px;}
  .lg-m80 {margin: 80px;}
  .lg-m90 {margin: 90px;}
  .lg-m100 {margin: 100px;}
  .lg-m200 {margin: 200px;}
  .lg-mt0 {margin: 0px;}
  .lg-mt5 {margin: 5px;}
  .lg-mt10 {margin: 10px;}
  .lg-mt15 {margin: 15px;}
  .lg-mt20 {margin: 20px;}
  .lg-mt25 {margin: 25px;}
  .lg-mt30 {margin: 30px;}
  .lg-mt40 {margin: 40px;}
  .lg-mt50 {margin: 50px;}
  .lg-mt60 {margin: 60px;}
  .lg-mt70 {margin: 70px;}
  .lg-mt80 {margin: 80px;}
  .lg-mt90 {margin: 90px;}
  .lg-mt100 {margin: 100px;}
  .lg-mt200 {margin: 200px;}
  .lg-mb0 {margin: 0px;}
  .lg-mb5 {margin: 5px;}
  .lg-mb10 {margin: 10px;}
  .lg-mb15 {margin: 15px;}
  .lg-mb20 {margin: 20px;}
  .lg-mb25 {margin: 25px;}
  .lg-mb30 {margin: 30px;}
  .lg-mb40 {margin: 40px;}
  .lg-mb50 {margin: 50px;}
  .lg-mb60 {margin: 60px;}
  .lg-mb70 {margin: 70px;}
  .lg-mb80 {margin: 80px;}
  .lg-mb90 {margin: 90px;}
  .lg-mb100 {margin: 100px;}
  .lg-mb200 {margin: 200px;}
  .lg-ml0 {margin: 0px;}
  .lg-ml5 {margin: 5px;}
  .lg-ml10 {margin: 10px;}
  .lg-ml15 {margin: 15px;}
  .lg-ml20 {margin: 20px;}
  .lg-ml25 {margin: 25px;}
  .lg-ml30 {margin: 30px;}
  .lg-ml40 {margin: 40px;}
  .lg-ml50 {margin: 50px;}
  .lg-ml60 {margin: 60px;}
  .lg-ml70 {margin: 70px;}
  .lg-ml80 {margin: 80px;}
  .lg-ml90 {margin: 90px;}
  .lg-ml100 {margin: 100px;}
  .lg-ml200 {margin: 200px;}
  .lg-mr0 {margin: 0px;}
  .lg-mr5 {margin: 5px;}
  .lg-mr10 {margin: 10px;}
  .lg-mr15 {margin: 15px;}
  .lg-mr20 {margin: 20px;}
  .lg-mr25 {margin: 25px;}
  .lg-mr30 {margin: 30px;}
  .lg-mr40 {margin: 40px;}
  .lg-mr50 {margin: 50px;}
  .lg-mr60 {margin: 60px;}
  .lg-mr70 {margin: 70px;}
  .lg-mr80 {margin: 80px;}
  .lg-mr90 {margin: 90px;}
  .lg-mr100 {margin: 100px;}
  .lg-mr200 {margin: 200px;}
  .lg-fw100 {font-weight: 100;}
  .lg-fw200 {font-weight: 200;}
  .lg-fw300 {font-weight: 300;}
  .lg-fw400 {font-weight: 400;}
  .lg-fw500 {font-weight: 500;}
  .lg-fw600 {font-weight: 600;}
  .lg-fw700 {font-weight: 700;}
  .lg-fw800 {font-weight: 800;}
  .lg-fw900 {font-weight: 900;}
  .lg-tal {text-align: left;}
  .lg-tar {text-align: right;}
  .lg-tac {text-align: center;}
  .lg-taj {text-align: justify;}
  .lg-fn {float: none;}
  .lg-fr {float: right;}
  .lg-fl {float: left;}
  .lg-dn{display: none !important;}
  .lg-di{display: inline !important;}
  .lg-db{display: block !important;}
  .lg-df{display: flex !important;}
  .lg-dib{display: inline-block !important;}
  .lg-lh0 {line-height: 0;}
  .lg-lh5 {line-height: 0.5;}
  .lg-lh10 {line-height: 1;}
  .lg-lh12 {line-height: 1.2;}
  .lg-lh15 {line-height: 1.5;}
  .lg-lh20 {line-height: 2;}
  .lg-pa{position: absolute;}
  .lg-pf{position: fixed;}
  .lg-pr{position: relative;}
  .lg-ps{position: static;}
}
@media (min-width: 1860px) {
  .container {max-width: 1440px;}
  .col-xl-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
  .col-xl-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
  .col-xl-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
  .col-xl-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
  .col-xl-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
  .col-xl-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
  .col-xl-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
  .col-xl-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
  .col-xl-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
  .col-xl-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
  .col-xl-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
  .col-xl-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
  .of-xl-0 {margin-left: 0;}
  .of-xl-1 {margin-left: 8.333333%;}
  .of-xl-2 {margin-left: 16.666667%;}
  .of-xl-3 {margin-left: 25%;}
  .of-xl-4 {margin-left: 33.333333%;}
  .of-xl-5 {margin-left: 41.666667%;}
  .of-xl-6 {margin-left: 50%;}
  .of-xl-7 {margin-left: 58.333333%;}
  .of-xl-8 {margin-left: 66.666667%;}
  .of-xl-9 {margin-left: 75%;}
  .of-xl-10 {margin-left: 83.333333%;}
  .of-xl-11 {margin-left: 91.666667%;}
  .of-xl-12 {margin-left: 100%;}
  .or-xl-0 {-webkit-box-ordinal-group: 1; -ms-flex-order: 0;order: 0;}
  .or-xl-1 {-webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1;}
  .or-xl-2 {-webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2;}
  .or-xl-3 {-webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
  .or-xl-4 {-webkit-box-ordinal-group: 5; -ms-flex-order: 4; order: 4;}
  .or-xl-5 {-webkit-box-ordinal-group: 6; -ms-flex-order: 5; order: 5;}
  .or-xl-6 {-webkit-box-ordinal-group: 7; -ms-flex-order: 6; order: 6;}
  .or-xl-7 {-webkit-box-ordinal-group: 8; -ms-flex-order: 7; order: 7;}
  .or-xl-8 {-webkit-box-ordinal-group: 9; -ms-flex-order: 8; order: 8;}
  .or-xl-9 {-webkit-box-ordinal-group: 10; -ms-flex-order: 9; order: 9;}
  .or-xl-10 {-webkit-box-ordinal-group: 11;-ms-flex-order: 10;order: 10;}
  .or-xl-11 {-webkit-box-ordinal-group: 12;-ms-flex-order: 11;order: 11;}
  .or-xl-12 {webkit-box-ordinal-group: 13;-ms-flex-order: 12;order: 12;}
  .xl-ai-start {-ms-flex-align: start !important;align-items: flex-start !important;}
  .xl-ai-end {-ms-flex-align: end !important;align-items: flex-end !important;}
  .xl-ai-center {-ms-flex-align: center !important;align-items: center !important;}
  .xl-ai-baseline {-ms-flex-align: baseline !important;align-items: baseline !important;}
  .xl-ai-stretch {-ms-flex-align: stretch !important;align-items: stretch !important;}
  .xl-ac-start {-ms-flex-line-pack: start !important;align-content: flex-start !important;}
  .xl-ac-end {-ms-flex-line-pack: end !important;align-content: flex-end !important;}
  .xl-ac-center {-ms-flex-line-pack: center !important;align-content: center !important;}
  .xl-ac-between {-ms-flex-line-pack: justify !important;align-content: space-between !important;}
  .xl-ac-around {-ms-flex-line-pack: distribute !important;align-content: space-around !important;}
  .xl-ac-stretch {-ms-flex-line-pack: stretch !important;align-content: stretch !important;}
  .xl-jc-start {-ms-flex-pack: start !important;justify-content: flex-start !important;}
  .xl-jc-end {-ms-flex-pack: end !important;justify-content: flex-end !important;}
  .xl-jc-center {-ms-flex-pack: center !important;justify-content: center !important;}
  .xl-jc-between {-ms-flex-pack: justify !important;justify-content: space-between !important;}
  .xl-jc-around {-ms-flex-pack: distribute !important;justify-content: space-around !important;}
  .xl-p0 {padding: 0px;}
  .xl-p5 {padding: 5px;}
  .xl-p10 {padding: 10px;}
  .xl-p15 {padding: 15px;}
  .xl-p20 {padding: 20px;}
  .xl-p25 {padding: 25px;}
  .xl-p30 {padding: 30px;}
  .xl-p40 {padding: 40px;}
  .xl-p50 {padding: 50px;}
  .xl-p60 {padding: 60px;}
  .xl-p70 {padding: 70px;}
  .xl-p80 {padding: 80px;}
  .xl-p90 {padding: 90px;}
  .xl-p100 {padding: 100px;}
  .xl-p200 {padding: 200px;}
  .xl-pt0 {padding: 0px;}
  .xl-pt5 {padding: 5px;}
  .xl-pt10 {padding: 10px;}
  .xl-pt15 {padding: 15px;}
  .xl-pt20 {padding: 20px;}
  .xl-pt25 {padding: 25px;}
  .xl-pt30 {padding: 30px;}
  .xl-pt40 {padding: 40px;}
  .xl-pt50 {padding: 50px;}
  .xl-pt60 {padding: 60px;}
  .xl-pt70 {padding: 70px;}
  .xl-pt80 {padding: 80px;}
  .xl-pt90 {padding: 90px;}
  .xl-pt100 {padding: 100px;}
  .xl-pt200 {padding: 200px;}
  .xl-pb0 {padding: 0px;}
  .xl-pb5 {padding: 5px;}
  .xl-pb10 {padding: 10px;}
  .xl-pb15 {padding: 15px;}
  .xl-pb20 {padding: 20px;}
  .xl-pb25 {padding: 25px;}
  .xl-pb30 {padding: 30px;}
  .xl-pb40 {padding: 40px;}
  .xl-pb50 {padding: 50px;}
  .xl-pb60 {padding: 60px;}
  .xl-pb70 {padding: 70px;}
  .xl-pb80 {padding: 80px;}
  .xl-pb90 {padding: 90px;}
  .xl-pb100 {padding: 100px;}
  .xl-pb200 {padding: 200px;}
  .xl-pl0 {padding: 0px;}
  .xl-pl5 {padding: 5px;}
  .xl-pl10 {padding: 10px;}
  .xl-pl15 {padding: 15px;}
  .xl-pl20 {padding: 20px;}
  .xl-pl25 {padding: 25px;}
  .xl-pl30 {padding: 30px;}
  .xl-pl40 {padding: 40px;}
  .xl-pl50 {padding: 50px;}
  .xl-pl60 {padding: 60px;}
  .xl-pl70 {padding: 70px;}
  .xl-pl80 {padding: 80px;}
  .xl-pl90 {padding: 90px;}
  .xl-pl100 {padding: 100px;}
  .xl-pl200 {padding: 200px;}
  .xl-pr0 {padding: 0px;}
  .xl-pr5 {padding: 5px;}
  .xl-pr10 {padding: 10px;}
  .xl-pr15 {padding: 15px;}
  .xl-pr20 {padding: 20px;}
  .xl-pr25 {padding: 25px;}
  .xl-pr30 {padding: 30px;}
  .xl-pr40 {padding: 40px;}
  .xl-pr50 {padding: 50px;}
  .xl-pr60 {padding: 60px;}
  .xl-pr70 {padding: 70px;}
  .xl-pr80 {padding: 80px;}
  .xl-pr90 {padding: 90px;}
  .xl-pr100 {padding: 100px;}
  .xl-pr200 {padding: 200px;}
  .xl-m0 {margin: 0px;}
  .xl-m5 {margin: 5px;}
  .xl-m10 {margin: 10px;}
  .xl-m15 {margin: 15px;}
  .xl-m20 {margin: 20px;}
  .xl-m25 {margin: 25px;}
  .xl-m30 {margin: 30px;}
  .xl-m40 {margin: 40px;}
  .xl-m50 {margin: 50px;}
  .xl-m60 {margin: 60px;}
  .xl-m70 {margin: 70px;}
  .xl-m80 {margin: 80px;}
  .xl-m90 {margin: 90px;}
  .xl-m100 {margin: 100px;}
  .xl-m200 {margin: 200px;}
  .xl-mt0 {margin: 0px;}
  .xl-mt5 {margin: 5px;}
  .xl-mt10 {margin: 10px;}
  .xl-mt15 {margin: 15px;}
  .xl-mt20 {margin: 20px;}
  .xl-mt25 {margin: 25px;}
  .xl-mt30 {margin: 30px;}
  .xl-mt40 {margin: 40px;}
  .xl-mt50 {margin: 50px;}
  .xl-mt60 {margin: 60px;}
  .xl-mt70 {margin: 70px;}
  .xl-mt80 {margin: 80px;}
  .xl-mt90 {margin: 90px;}
  .xl-mt100 {margin: 100px;}
  .xl-mt200 {margin: 200px;}
  .xl-mb0 {margin: 0px;}
  .xl-mb5 {margin: 5px;}
  .xl-mb10 {margin: 10px;}
  .xl-mb15 {margin: 15px;}
  .xl-mb20 {margin: 20px;}
  .xl-mb25 {margin: 25px;}
  .xl-mb30 {margin: 30px;}
  .xl-mb40 {margin: 40px;}
  .xl-mb50 {margin: 50px;}
  .xl-mb60 {margin: 60px;}
  .xl-mb70 {margin: 70px;}
  .xl-mb80 {margin: 80px;}
  .xl-mb90 {margin: 90px;}
  .xl-mb100 {margin: 100px;}
  .xl-mb200 {margin: 200px;}
  .xl-ml0 {margin: 0px;}
  .xl-ml5 {margin: 5px;}
  .xl-ml10 {margin: 10px;}
  .xl-ml15 {margin: 15px;}
  .xl-ml20 {margin: 20px;}
  .xl-ml25 {margin: 25px;}
  .xl-ml30 {margin: 30px;}
  .xl-ml40 {margin: 40px;}
  .xl-ml50 {margin: 50px;}
  .xl-ml60 {margin: 60px;}
  .xl-ml70 {margin: 70px;}
  .xl-ml80 {margin: 80px;}
  .xl-ml90 {margin: 90px;}
  .xl-ml100 {margin: 100px;}
  .xl-ml200 {margin: 200px;}
  .xl-mr0 {margin: 0px;}
  .xl-mr5 {margin: 5px;}
  .xl-mr10 {margin: 10px;}
  .xl-mr15 {margin: 15px;}
  .xl-mr20 {margin: 20px;}
  .xl-mr25 {margin: 25px;}
  .xl-mr30 {margin: 30px;}
  .xl-mr40 {margin: 40px;}
  .xl-mr50 {margin: 50px;}
  .xl-mr60 {margin: 60px;}
  .xl-mr70 {margin: 70px;}
  .xl-mr80 {margin: 80px;}
  .xl-mr90 {margin: 90px;}
  .xl-mr100 {margin: 100px;}
  .xl-mr200 {margin: 200px;}
  .xl-fw100 {font-weight: 100;}
  .xl-fw200 {font-weight: 200;}
  .xl-fw300 {font-weight: 300;}
  .xl-fw400 {font-weight: 400;}
  .xl-fw500 {font-weight: 500;}
  .xl-fw600 {font-weight: 600;}
  .xl-fw700 {font-weight: 700;}
  .xl-fw800 {font-weight: 800;}
  .xl-fw900 {font-weight: 900;}
  .xl-tal {text-align: left;}
  .xl-tar {text-align: right;}
  .xl-tac {text-align: center;}
  .xl-taj {text-align: justify;}
  .xl-fn {float: none;}
  .xl-fr {float: right;}
  .xl-fl {float: left;}
  .xl-dn{display: none !important;}
  .xl-di{display: inline !important;}
  .xl-db{display: block !important;}
  .xl-df{display: flex !important;}
  .xl-dib{display: inline-block !important;}
  .xl-lh0 {line-height: 0;}
  .xl-lh5 {line-height: 0.5;}
  .xl-lh10 {line-height: 1;}
  .xl-lh12 {line-height: 1.2;}
  .xl-lh15 {line-height: 1.5;}
  .xl-lh20 {line-height: 2;}
  .xl-pa{position: absolute;}
  .xl-pf{position: fixed;}
  .xl-pr{position: relative;}
  .xl-ps{position: static;}
}
.c-white{color: #FFFFFF;}
.c-red-1{color: #FFCDD2;}
.c-red-2{color: #E57373;}
.c-red-3{color: #F44336;}
.c-red-4{color: #D32F2F;}
.c-red-5{color: #B71C1C;}
.c-blue-1{color: #BBDEFB;}
.c-blue-2{color: #64B5F6;}
.c-blue-3{color: #2196F3;}
.c-blue-4{color: #1976D2;}
.c-blue-5{color: #0D47A1;}
.c-green-1{color: #C8E6C9;}
.c-green-2{color: #81C784;}
.c-green-3{color: #4CAF50;}
.c-green-4{color: #388E3C;}
.c-green-5{color: #1B5E20;}
.c-yellow-1{color: #FFF9C4;}
.c-yellow-2{color: #FFF176;}
.c-yellow-3{color: #FFEB3B;}
.c-yellow-4{color: #FBC02D;}
.c-yellow-5{color: #F57F17;}
.c-orange-1{color: #FFE0B2;}
.c-orange-2{color: #FFB74D;}
.c-orange-3{color: #FF9800;}
.c-orange-4{color: #F57C00;}
.c-orange-5{color: #E65100;}
.c-grey-1{color: #F5F5F5;}
.c-grey-2{color: #E0E0E0;}
.c-grey-3{color: #9E9E9E;}
.c-grey-4{color: #616161;}
.c-grey-5{color: #212121;}
.c-black{color: #000000;}
.c-tra{color: transparent;}
.hc-red-1:hover{color: #FFCDD2;}
.hc-red-2:hover{color: #E57373;}
.hc-red-3:hover{color: #ff010f;}
.hc-red-4:hover{color: #D32F2F;}
.hc-red-5:hover{color: #B71C1C;}
.hc-blue-1:hover{color: #BBDEFB;}
.hc-blue-2:hover{color: #64B5F6;}
.hc-blue-3:hover{color: #2196F3;}
.hc-blue-4:hover{color: #1976D2;}
.hc-blue-5:hover{color: #0D47A1;}
.hc-green-1:hover{color: #C8E6C9;}
.hc-green-2:hover{color: #81C784;}
.hc-green-3:hover{color: #4CAF50;}
.hc-green-4:hover{color: #388E3C;}
.hc-green-5:hover{color: #1B5E20;}
.hc-yellow-1{color: #FFF9C4;}
.hc-yellow-2{color: #FFF176;}
.hc-yellow-3{color: #FFEB3B;}
.hc-yellow-4{color: #FBC02D;}
.hc-yellow-5{color: #F57F17;}
.hc-orange-1:hover{color: #FFE0B2;}
.hc-orange-2:hover{color: #FFB74D;}
.hc-orange-3:hover{color: #FF9800;}
.hc-orange-4:hover{color: #F57C00;}
.hc-orange-5:hover{color: #E65100;}
.hc-grey-1:hover{color: #F5F5F5;}
.hc-grey-2:hover{color: #E0E0E0;}
.hc-grey-3:hover{color: #9E9E9E;}
.hc-grey-4:hover{color: #616161;}
.hc-grey-5:hover{color: #212121;}
.hc-white:hover{color: #FFFFFF;}
.hc-black:hover{color: #000000;}
.hc-tra:hover{color: transparent;}

.bg-white {background-color: white;}
.bg-black {background-color: black;}
.bg-red-1{background-color: #FFCDD2;}
.bg-red-2{background-color: #E57373;}
.bg-red-3{background-color: #F44336;}
.bg-red-4{background-color: #D32F2F;}
.bg-red-5{background-color: #B71C1C;}
.bg-blue-1{background-color: #BBDEFB;}
.bg-blue-2{background-color: #64B5F6;}
.bg-blue-3{background-color: #2196F3;}
.bg-blue-4{background-color: #1976D2;}
.bg-blue-5{background-color: #0D47A1;}
.bg-green-1{background-color: #C8E6C9;}
.bg-green-2{background-color: #81C784;}
.bg-green-3{background-color: #4CAF50;}
.bg-green-4{background-color: #388E3C;}
.bg-green-5{background-color: #1B5E20;}
.bg-yellow-1{background-color: #FFF9C4;}
.bg-yellow-2{background-color: #FFF176;}
.bg-yellow-3{background-color: #FFEB3B;}
.bg-yellow-4{background-color: #FBC02D;}
.bg-yellow-5{background-color: #F57F17;}
.bg-orange-1{background-color: #FFE0B2;}
.bg-orange-2{background-color: #FFB74D;}
.bg-orange-3{background-color: #FF9800;}
.bg-orange-4{background-color: #F57C00;}
.bg-orange-5{background-color: #E65100;}
.bg-grey-1{background-color: #F5F5F5;}
.bg-grey-2{background-color: #E0E0E0;}
.bg-grey-3{background-color: #9E9E9E;}
.bg-grey-4{background-color: #616161;}
.bg-grey-5{background-color: #212121;}
.bg-white{background-color: #FFFFFF;}
.bg-black{background-color: #000000;}
.bg-tra{background-color: transparent;}
.hbg-red-1:hover{background-color: #FFCDD2;}
.hbg-red-2:hover{background-color: #E57373;}
.hbg-red-3:hover{background-color: #F44336;}
.hbg-red-4:hover{background-color: #D32F2F;}
.hbg-red-5:hover{background-color: #B71C1C;}
.hbg-blue-1:hover{background-color: #BBDEFB;}
.hbg-blue-2:hover{background-color: #64B5F6;}
.hbg-blue-3:hover{background-color: #2196F3;}
.hbg-blue-4:hover{background-color: #1976D2;}
.hbg-blue-5:hover{background-color: #0D47A1;}
.hbg-green-1:hover{background-color: #C8E6C9;}
.hbg-green-2:hover{background-color: #81C784;}
.hbg-green-3:hover{background-color: #4CAF50;}
.hbg-green-4:hover{background-color: #388E3C;}
.hbg-green-5:hover{background-color: #1B5E20;}
.hbg-yellow-1:hover{background-color: #FFF9C4;}
.hbg-yellow-2:hover{background-color: #FFF176;}
.hbg-yellow-3:hover{background-color: #FFEB3B;}
.hbg-yellow-4:hover{background-color: #FBC02D;}
.hbg-yellow-5:hover{background-color: #F57F17;}
.hbg-orange-1:hover{background-color: #FFE0B2;}
.hbg-orange-2:hover{background-color: #FFB74D;}
.hbg-orange-3:hover{background-color: #FF9800;}
.hbg-orange-4:hover{background-color: #F57C00;}
.hbg-orange-5:hover{background-color: #E65100;}
.hbg-grey-1:hover{background-color: #F5F5F5;}
.hbg-grey-2:hover{background-color: #E0E0E0;}
.hbg-grey-3:hover{background-color: #9E9E9E;}
.hbg-grey-4:hover{background-color: #616161;}
.hbg-grey-5:hover{background-color: #212121;}
.hbg-white:hover{background-color: #FFFFFF;}
.hbg-black:hover{background-color: #000000;}
.hbg-tra:hover{background-color: transparent;}

.tr1{transition: all 0.1s;}
.tr2{transition: all 0.2s;}
.tr3{transition: all 0.3s;}
.tr4{transition: all 0.4s;}
.tr5{transition: all 0.5s;}
.tr6{transition: all 0.6s;}
.tr7{transition: all 0.7s;}
.tr8{transition: all 0.8s;}
.tr9{transition: all 0.9s;}
.tr10{transition: all 1s;}
.br1{border-radius: 1px;}
.br2{border-radius: 2px;}
.br3{border-radius: 3px;}
.br4{border-radius: 4px;}
.br5{border-radius: 5px;}
.br10{border-radius: 10px;}
.br20{border-radius: 20px;}
.br1000{border-radius: 1000px;}
.b0{border: none;}
.b1{border: solid 1px;}
.b2{border: solid 2px;}
.b3{border: solid 3px;}
.b4{border: solid 4px;}
.b5{border: solid 5px;}
.ovh{overflow:hidden;}