@media screen and (min-width: 2560px) and (max-width: 3000px) {
    .hobby__form-button-2 {
        display: flex;
        background: #C4A8FF;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 1795px;
        height: 845px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text__set {
        font-family: 'Montserrat';
        padding-top: 25px;
        font-size: 60px;
        color: #872A8F;
    }
}

@media screen and (min-width: 400px) and (max-width: 2560px) {
    .hobby__form-button-2 {
        display: flex;
        background: #C4A8FF;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 1425px;
        height: 845px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text__set {
        font-family: 'Montserrat';
        padding-top: 25px;
        font-size: 60px;
        color: #872A8F;
    }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
    .hobby__form-button-2 {
        display: flex;
        background: #C4A8FF;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 345px;
        height: 845px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text__set {
        font-family: 'Montserrat';
        padding-top: 25px;
        font-size: 60px;
        color: #872A8F;
    }
}