@media screen and (min-width: 2560px) {
    .main_admin {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1800px;
		height: 5500px;
		width: 100%;
    }
}
  
@media screen and (min-width: 400px) and (max-width: 2559px) {
    .main_admin {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1445px;
		height: 5500px;
		width: 165vw;
    }
}
