@media screen and (min-width: 2560px) and (max-width: 3000px) {
    .footer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 0;
      background: #C4A8FF;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 70px rgb(0 0 0 / 25%);
      border-radius: 30px;
      max-width: 1800px;
      height: 175px;
      width: 100%;
    }

    .footer__image {
        display: flex;
        width: 230px;
        height: 140px;
    }

    .footer__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin-left: 10px;
    }
}
  
@media screen and (min-width: 400px) and (max-width: 2559px) {
    .footer {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 1445px;
        height: 175px;
        width: 165vw;
    }

    .footer__image {
        display: flex;
        width: 230px;
        height: 140px;
    }

    .footer__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 1445px;
        height: 175px;
        width: 350px;
    }

    .footer__image {
        display: flex;
        width: 230px;
        height: 140px;
    }

    .footer__text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000;
        margin-left: 10px;
    }
}
