@media screen and (min-width: 2560px) and (max-width: 3000px) {
  .header {
    display: flex;
    margin-top: 50px;
    margin-left: 0;
    background: #C4A8FF;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 70px rgb(0 0 0 / 25%);
    border-radius: 30px;
    max-width: 1800px;
    height: 175px;
    width: 100%;
  }

  .pairstextimage {
    width: 303px;
    height: 175px;
    margin-right: 500px;
  }

  .header__main-block {
    display: flex;
  }

  .header__main-block-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    margin-right: 105px;
    color: #872A8F;
  }

  .header__main-block-text:hover {
      color: #25AED9;
  }

  .li_class {
    margin-left: 0;
  }

  .button_logout {
      display: flex;
  }

  li {
    margin-top: 63px !important;
  }
}

@media screen and (min-width: 400px) and (max-width: 2559px) {
    .header {
        display: flex;
        margin-top: 50px;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 1445px;
        height: 175px;
        width: 165vw;
    }

    .pairstextimage {
        width: 303px;
        height: 175px;
        margin-right: 300px;
    }

    .header__main-block {
        display: flex;
    }

    .button_logout {
        display: flex;
    }

    .header__main-block-text {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #872A8F;
        margin-top: 63px;
        margin-right: 70px;
    }

    .header__main-block-text:hover {
        color: #25AED9;
    }

    .li_class {
        margin-left: 0;
    }

    li {
      margin-top: 63px !important;
    }
}

@media screen and (max-width: 400px) {
  .header {
      display: flex;
      margin-top: 50px;
      justify-content: center;
      margin-left: 0px;
      background: #C4A8FF;
      box-shadow: 0 0 70px rgb(0 0 0 / 25%);
      border-radius: 30px;
      max-width: 1445px;
      height: 375px;
      width: 350px;
  }

  .pairstextimage {
      width: 175px;
      height: 125px;
      margin-right: 0px;
  }

  .header__main-block {
      display: flex;
      flex-direction: column;
  }

  .button_logout {
      display: flex;
  }

  .header__main-block-text {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 49px;
      color: #872A8F;
      margin-top: 0px;
      margin-right: 00px;
  }

  .header__main-block-text:hover {
      color: #25AED9;
  }

  .li_class {
      margin-left: 0;
  }

  li {
    margin-top: 0 !important;
    margin-left: 25px;
  }
}
