a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

* {
  margin: 0;
  padding: 0;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button.button_logout:hover, input[type="submit"]:hover {
  color: #25AED9;
}

input[type="text"] {
  all: unset;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

::placeholder {
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

.auth__form-button input[type="submit"] {
  padding: 15px 10px 15px 110px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

.register__form-button input[type="submit"] {
  padding: 10px 0px 15px 55px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

.search__form-button input[type="submit"] {
  padding: 5px 23px 7px 95px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

.search__form-button input[type="text"] {
  padding: 5px 23px 7px 95px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

select {
  all: unset;
  padding: 0px 0px 10px 0px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

option {
  all: unset;
  padding: 5px 23px 7px 95px;
  text-align: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 49px;
  color: #FFFFFF;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 2560px) {
  body {
    background-color: #F0C3FF;
    width: 2560px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (min-width: 400px) and (max-width: 2559px) {
  body {
    background-color: #F0C3FF;
    width: 1920px;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  body {
    background-color: #F0C3FF;
    width: 400px;
    margin: 0 auto;
    justify-content: center;
  }
}