@media screen and (min-width: 2560px) and (max-width: 3000px) {
	.main {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1800px;
		height: 2000px;
		width: 100%;
	}

	.main__img {
		filter: drop-shadow(0 0 70px rgba(0 0 0 / 35%));
		border-radius: 30px;
		transform: rotate(90deg);
		margin: -275px 450px;
		width: 945px;
		height: 1650px;
	}

	.under__img-text {
		margin-top: -25px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #25AED9;
		display: flex;
	}

	.down__block {
		display: flex;
		flex-direction: row;
		margin-top: 75px;
		margin-left: 125px;
	}

	.down__block-rating {
		display: flex;
		flex-direction: column;
		background: #F0C3FF;
		box-shadow: 0 0 70px rgb(240 195 255 / 85%);
		border-radius: 30px;
		width: 589px;
		max-height: 2015%;
		height: 108%;
		margin: 0 -155px;
	}

	.down__block-rating-user-info {
		display: flex;
		flex-direction: row;
		margin-top: 55px;
		margin-left: 200px;
	}

	.user-info-text {
		margin-left: 30px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}

	.down__block-text {
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #F0C3FF;
		text-shadow: 0px 0px 250px #FF0101;
		margin-left: 200px;
		margin-top: 270px;
	}
}

@media screen and (min-width: 400px) and (max-width: 2559px) {

	.main {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1431px;
		height: 2000px;
		width: 100%;
	}

	.main__img {
		filter: drop-shadow(0 0 70px rgb(0 0 0 / 35%));
		border-radius: 30px;
		transform: rotate(90deg);
		margin: -100px 330px;
		width: 830px;
		height: 1190px;
	}

	.under__img-text {
		margin-top: -25px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #25AED9;
		display: flex;
	}

	.down__block {
		display: flex;
		flex-direction: row;
		margin-top: 75px;
		margin-left: 125px;
	}

	.down__block-rating {
		display: flex;
		flex-direction: column;
		background: #F0C3FF;
		box-shadow: 0 0 70px rgb(240 195 255 / 85%);
		border-radius: 30px;
		width: 589px;
		max-height: 2015px;
		height: 108%;
		margin: 0 -155px;
	}

	.down__block-rating-user-info {
		display: flex;
		flex-direction: row;
		margin-top: 55px;
		margin-left: 200px;
	}

	.user-info-text {
		margin-left: 30px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}

	.down__block-text {
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #F0C3FF;
		text-shadow: 0px 0px 250px #FF0101;
		margin-left: 200px;
		margin-top: 270px;
	}
}

@media screen and (max-width: 400px) {
	.main {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 350px;
		height: 1650px;
		width: 100%;
		margin-left: 0px;
	}

	.main__img {
		filter: drop-shadow(0 0 70px rgb(0 0 0 / 35%));
		border-radius: 30px;
		transform: rotate(90deg);
		margin: -100px 330px;
		width: 317px;
		height: 321px;
		margin-top: 50px;
	}

	.under__img-text {
		margin-top: 140px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #25AED9;
		display: flex;
		text-align: center;
	}

	.down__block {
		display: flex;
		flex-direction: column;
		margin-top: 45px;
		margin-left: 45px;
	}

	.down__block-rating {
		display: flex;
		flex-direction: column;
		background: #F0C3FF;
		box-shadow: 0 0 70px rgb(240 195 255 / 85%);
		border-radius: 30px;
		width: 269px;
		max-height: 1495px;
		height: 149%;
		margin: 0 0px;
	}

	.down__block-rating-user-info {
		display: flex;
		flex-direction: row;
		margin-top: 30px;
		margin-left: 80px;
	}

	.user-info-text {
		margin-left: 30px;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #000;
	}

	.down__block-text {
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #F0C3FF;
		text-shadow: 0px 0px 250px #FF0101;
		margin-left: -35px;
		margin-top: 70px;
		text-align: center;
	}
}
