@media screen and (min-width: 2560px) and (max-width: 3000px) {
	.main_hobby {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1800px;
		height: 2000px;
		width: 100%;
	}

	.left-block {
		margin-left: 350px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.35));
		border-radius: 30px;
	}

	#picField {
		position: relative;
		overflow: hidden;
		display: inline-block;
		margin: 10px;
		background-color: #61afef;
		color: #fff;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 3px;
	}
	  
	.picField input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	  
	.picField:hover {
		background-color: #4f8cb4;
	}
	
	.picField:active {
		background-color: #3e728e;
	}
	
	.picField:focus {
		outline: none;
	}

	.search__form-input-file {
		display: flex;
		background: #872A8F;
		margin-top: 40px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 355px;
		height: 71px;
		transition: all 0.3s ease;
		position: relative;
		margin-left: 490px;
	}

	.user_left-block {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		margin-left: -515px;
		justify-content: center;
	}

	.user_photo {
		width: 470px;
		height: 512px;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
	}

	.user_nickname {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		/* identical to box height */

		color: #F0C3FF;
		margin-top: 40px;
		margin-left: -400px;
	}

	.right_block {
		margin-left: 760px;
		display: flex;
		flex-direction: column;
		margin-top: -530px;
	}

	.user_info-block-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		/* identical to box height */


		color: #25AED9;

		margin-bottom: 10px;
	}

	.hobby__form-area {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 150px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        align-items: center;
    }

	.hobby_update-left-block {
		display: flex;
        flex-direction: column;
        margin-top: 55px;
        margin-left: -650px;
        align-items: center;
	}

	.hobby__form-button {
		display: flex;
		background: #872A8F;
		margin-top: 40px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 320px;
		height: 71px;
	}

	.hobby__form-button input[type="submit"] {
		padding: 10px 50px 50px 25px;
		text-align: center;
		align-items: center;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		line-height: 49px;
		color: #FFFFFF;
	}
}

@media screen and (min-width: 400px) and (max-width: 2560px) {
	.main_hobby {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		margin-left: 0;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1431px;
		height: 2000px;
		width: 100%;
	}

	.left-block {
		margin-left: 350px;
		margin-top: -125px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.35));
		border-radius: 30px;
	}

	.search__form-input-file {
		width: 110px;
		height: 460px;
		background-color: #872A8F;
	}

	#picField {
		position: relative;
		overflow: hidden;
		display: inline-block;
		margin: 10px;
		background-color: #61afef;
		color: #fff;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 3px;
	}
	  
	.picField input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	  
	.picField:hover {
		background-color: #4f8cb4;
	}
	
	.picField:active {
		background-color: #3e728e;
	}
	
	.picField:focus {
		outline: none;
	}

	.search__form-input-file {
		display: flex;
		background: #872A8F;
		margin-top: 180px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 355px;
		height: 71px;
		transition: all 0.3s ease;
		position: relative;
		margin-left: -290px;
	}

	.user_left-block {
		margin-top: 200px;
		display: flex;
		flex-direction: column;
		margin-left: -355px;
		justify-content: center;
	}

	.user_photo {
		width: 470px;
		height: 512px;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
	}

	.user_nickname {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #F0C3FF;
		margin-top: 40px;
		margin-left: -220px;
	}

	.right_block {
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.user_info-block-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		/* identical to box height */


		color: #25AED9;

		margin-bottom: 10px;
	}

	.hobby__form-area {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 150px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        align-items: center;
    }

	.hobby_update-left-block {
		display: flex;
        flex-direction: column;
        margin-top: 55px;
        margin-left: 30px;
        align-items: center;
	}

	.hobby__form-button {
		display: flex;
		background: #872A8F;
		margin-top: 40px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 320px;
		height: 71px;
	}

	.hobby__form-button input[type="submit"] {
		padding: 10px 50px 50px 25px;
		text-align: center;
		align-items: center;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		line-height: 49px;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 400px) {
	.main_hobby {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		align-items: center;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 350px;
		height: 1200px;
		width: 100%;
		margin-left: 0px;
	}


	.left-block {
		margin-left: 350px;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		filter: drop-shadow(0px 0px 70px rgba(0, 0, 0, 0.35));
		border-radius: 30px;
	}

	.search__form-input-file {
		width: 110px;
		height: 460px;
		background-color: #872A8F;
		display: none;
	}

	#picField {
		position: relative;
		overflow: hidden;
		display: inline-block;
		margin: 10px;
		background-color: #61afef;
		color: #fff;
		border: none;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 3px;
	}
	  
	.picField input[type="file"] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
	  
	.picField:hover {
		background-color: #4f8cb4;
	}
	
	.picField:active {
		background-color: #3e728e;
	}
	
	.picField:focus {
		outline: none;
	}

	.search__form-input-file {
		display: flex;
		background: #872A8F;
		margin-top: 40px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 355px;
		height: 71px;
		transition: all 0.3s ease;
		position: relative;
		margin-left: -780px;
		display: none;
	}

	.user_left-block {
		margin-top: -30px;
		display: flex;
		flex-direction: column;
		margin-left: -330px;
		justify-content: center;
	}

	.user_photo {
		width: 310px;
		height: 410px;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
	}

	.user_nickname {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 800;
		font-size: 64px;
		line-height: 78px;
		color: #F0C3FF;
		margin-top: 10px;
		margin-left: -285px;
	}

	.right_block {
		margin-left: 40px;
		display: flex;
		flex-direction: column;
		margin-top: 55px;
	}

	.user_info-block-text {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 25px;
		line-height: 25px;
		hyphens: auto;
		color: #25AED9;
		margin-bottom: 30px;
	}

	p {
		hyphens: manual;
	}
	  

	.hobby__form-area {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 150px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        align-items: center;
    }

	.hobby_update-left-block {
		display: flex;
		flex-direction: column;
		margin-top: -30px;
		margin-left: -30px;
		align-items: center;
	}

	.hobby__form-button {
		display: flex;
		background: #872A8F;
		margin-top: 40px;
		box-shadow: 0 0 70px rgb(135 42 143 / 85%);
		border-radius: 30px;
		width: 320px;
		height: 71px;
	}

	.hobby__form-button input[type="submit"] {
		padding: 10px 50px 50px 25px;
		text-align: center;
		align-items: center;
		font-family: Montserrat, sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 30px;
		line-height: 49px;
		color: #FFFFFF;
	}
	
}
