@media screen and (min-width: 2560px) and (max-width: 3000px) {
    .main__register {
        display: flex;
        margin-top: 50px;
        margin-left: 0;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 1800px;
        height: 1150px;
        width: 100%;
    }

    .register__form {
        display: flex;
        flex-direction: column;
        margin: 350px 600px;
        align-items: center;
    }

    .register__form-area {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 515px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        align-items: center;
    }

    .input {
        width: 507px;
        height: 71px;
        margin-bottom: 20px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        padding-top: 11px;
    }

    input.register__form-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 507px;
    }

    .register__form-button {
        display: flex;
        background: #872A8F;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }

    .auth__form-button {
        display: flex;
        background: #872A8F;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }
}

@media screen and (min-width: 400px) and (max-width: 2559px) {
    .main__register {
        display: flex;
        margin-top: 50px;
        margin-left: 0;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 1431px;
        height: 1150px;
        width: 100%;
    }

    .register__form {
        display: flex;
        flex-direction: column;
        margin: 350px 420px;
        align-items: center;
    }

    .register__form-area {
        display: flex;
        flex-direction: column;
        width: 590px;
        height: 515px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        align-items: center;
    }

    .input {
        width: 507px;
        height: 71px;
        margin-bottom: 20px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        padding-top: 11px;
    }

    input.register__form-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 507px;
    }

    .register__form-button {
        display: flex;
        margin-top: 40px;
        background: #872A8F;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }

    .auth__form-button {
        display: flex;
        margin-top: 40px;
        background: #872A8F;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }
}