@media screen and (min-width: 2560px) and (max-width: 3000px) {
    .main__search {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		margin-left: 0;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1800px;
		max-height: 2220px;
        height: 170%;
		width: 100%;
	}

    .main__search-left-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        margin-left: 80px;
        align-items: center;
    }

    .search__form-button {
        display: flex;
        background: #872A8F;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }

    .input__search {
        width: 455px;
        height: 50px;
        margin-bottom: 20px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        padding-top: 11px;
    }

    .reset__button {
        background: #872A8F;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        width: 455px;
        height: 71px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .recomendations {
        margin-top: 31px;
        margin-left: 80px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        width: 589px;
        height: 525px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recomendations__text {
        margin-top: 10px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #872A8F;
    }

    .user__info {
        display: flex;
		flex-direction: row;
		margin-top: 22px;
    }

    .search__form-input {
        display: flex;
        background: #872A8F;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 355px;
        height: 71px;
        transition: all 0.3s ease;
        position: relative;
        margin-left: 645px;
    }

    .myInput {
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        color: #fff;
        font-style: italic;
        transition: all 0.3s ease;
        position: relative;
    }

    .main__search-right-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        margin-left: 60px;
    }

    .main__block-rectangle {
        display: flex;
        margin-top: -10px;
        flex-direction: column;
        align-items: center;
        width: 1000px;
        max-height: 1640px;
        height: 100%;
        background: #F0C3FF;
        box-shadow: 0px 0px 70px rgba(240, 195, 255, 0.85);
        border-radius: 30px;
    }

    .main__block-user-info {
        display: flex;
        flex-direction: row;
        margin-top: 22px;
    }

    .user__info-right-block {
        display: flex;
		flex-direction: row;
		margin-right: 150px;
        margin-left: 150px;
    }

    .wrap {
        transform: translate(-50%, -50%);
        width: 0px;
        height: 55px;
        background: #872A8F;
        line-height: 55px;
        padding-right: 55px;
        border-radius: 30px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        transition: all 0.5s ease;
        margin-left: 970px;
    }

    .register__form-area-2 {
        margin-left: -10px;
    }

    .wrap .fa {
        color: #fff;
        position: absolute;
        right: 17px;
        top: 15px;
        font-size: 22px;
        cursor: pointer;
    }

    .wrap.active {
        width: 200px;
        padding-left: 100px;
        margin-left: 820px;
        transition: all 0.5s ease;
    }
      
    .myInput.active{
        width: 98%;
        padding-left: 5px;
        transition: all 0.5s 0.8s ease;
    }
}
  
@media screen and (min-width: 400px) and (max-width: 2559px) {
    .main__search {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		margin-left: 0;
		background: #C4A8FF;
		box-shadow: 0 0 70px rgb(0 0 0 / 25%);
		border-radius: 30px;
		max-width: 1431px;
		max-height: 2220px;
        height: 170%;
		width: 100%;
	}

    .main__search-left-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        margin-left: 80px;
        align-items: center;
    }

    .search__form-button {
        display: flex;
        background: #872A8F;
        margin-top: 40px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 299px;
        height: 71px;
    }

    .input__search {
        width: 455px;
        height: 50px;
        margin-bottom: 20px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        padding-top: 11px;
    }

    .reset__button {
        background: #872A8F;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        width: 455px;
        height: 71px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .recomendations {
        margin-top: 31px;
        margin-left: 80px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        width: 589px;
        height: 525px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recomendations__text {
        margin-top: 10px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #872A8F;
    }

    .user__info {
        display: flex;
		flex-direction: row;
		margin-top: 22px;
    }

    .search__form-input {
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        font-family: sans-serif;
        font-size: 18px;
        color: #fff;
        font-style: italic;
        transition: all 0.3s ease;
        position: relative;
        margin-top: 40px; 
        margin-left: 295px;
    }

    .myInput {
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        color: #fff;
        font-style: italic;
        transition: all 0.3s ease;
        position: relative;
    }

    .main__search-right-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        margin-left: 60px;
    }

    .main__block-rectangle {
        display: flex;
        margin-top: -10px;
        flex-direction: column;
        align-items: center;
        width: 650px;
        max-height: 1640px;
        height: 100%;
        background: #F0C3FF;
        box-shadow: 0px 0px 70px rgba(240, 195, 255, 0.85);
        border-radius: 30px;
    }

    .main__block-user-info {
        display: flex;
        flex-direction: row;
        margin-top: 22px;
    }

    .register__form-area-2 {
        margin-left: -10px;
    }

    .user__info-right-block {
        display: flex;
		flex-direction: row;
		margin-right: 60px;
        margin-left: 60px;
    }

    .wrap {
        transform: translate(-50%, -50%);
        width: 0px;
        height: 55px;
        background: #872A8F;
        line-height: 55px;
        padding-right: 55px;
        border-radius: 30px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        transition: all 0.5s ease;
        margin-left: 620px;
    }

    .wrap .fa {
        color: #fff;
        position: absolute;
        right: 17px;
        top: 15px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .wrap.active {
        width: 200px;
        padding-left: 100px;
        margin-left: 470px;
        transition: all 0.5s ease;
    }
      
    .myInput.active{
        width: 98%;
        padding-left: 5px;
        transition: all 0.5s 0.8s ease;
    }
}

@media screen and (max-width: 400px) {

    .main__search {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        margin-left: 0;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(0 0 0 / 25%);
        border-radius: 30px;
        max-width: 350px;
        max-height: 2404px;
        height: 680vw;
        width: 100%;
    }

    .main__search-left-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        /* margin-left: -35px; */
        margin-left: 254px;
        align-items: center;
        width: 50px;
    }

    .search__form-button {
        display: flex;
        background: #872A8F;
        margin-top: -50px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        border-radius: 30px;
        width: 300px;
        height: 70px;
        margin-right: 270px;
        margin-left: 50px;
    }

    .input__search {
        width: 132px;
        height: 60px;
        margin-bottom: 42px;
        background: #C4A8FF;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        padding-top: 11px;
    }

    .reset__button {
        background: #872A8F;
        box-shadow: 0 0 70px rgb(196 168 255 / 85%);
        border-radius: 30px;
        width: 270px;
        height: 70px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        margin-left: -60px;
        font-size: 30px;
        line-height: 49px;
        color: #FFFFFF;
    }

    .recomendations {
        margin-top: 35px;
        margin-left: 15px;
        background: #F0C3FF;
        box-shadow: 0 0 70px rgb(240 195 255 / 85%);
        border-radius: 30px;
        width: 325px;
        height: 525px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recomendations__text {
        margin-top: 10px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 49px;
        color: #872A8F;
    }

    .user__info {
        display: flex;
		flex-direction: row;
		margin-top: 22px;
    }

    .search__form-input {
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        font-family: sans-serif;
        font-size: 18px;
        color: #fff;
        font-style: italic;
        transition: all 0.3s ease;
        position: relative;
        margin-top: 40px; 
        margin-left: 295px;
    }

    .myInput {
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        color: #fff;
        font-style: italic;
        transition: all 0.3s ease;
        position: relative;
    }

    .main__search-right-block {
        display: flex;
        flex-direction: column;
        margin-top: 212px;
        margin-left: 60px;
    }

    .main__block-rectangle {
        display: flex;
        margin-top: 1750px;
        margin-bottom: 50px;
        flex-direction: column;
        align-items: center;
        width: 325px;
        max-height: 1540px;
        margin-left: -390px;
        height: 230vw;
        background: #F0C3FF;
        box-shadow: 0px 0px 70px rgba(240, 195, 255, 0.85);
        border-radius: 30px;
    }

    .register__form-area-2 {
        margin-left: -130px;
    }

    .main__block-user-info {
        display: flex;
        flex-direction: row;
        margin-top: 22px;
    }

    .user__info-right-block {
        display: flex;
        flex-direction: row;
        margin-right: -5px;
        margin-left: 15px;
    }

    .wrap {
        transform: translate(-50%, -50%);
        width: 0px;
        height: 55px;
        background: #872A8F;
        line-height: 55px;
        padding-right: 55px;
        border-radius: 30px;
        box-shadow: 0 0 70px rgb(135 42 143 / 85%);
        transition: all 0.5s ease;
        margin-left: -350px;
        margin-top: -150px;
    }

    .wrap .fa {
        color: #fff;
        position: absolute;
        right: 18px;
        top: 15px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .wrap.active {
        width: 140px;
        padding-left: 100px;
        margin-left: -230px;
        margin-top: -150px;
        transition: all 0.5s ease;
    }
      
    .myInput.active{
        width: 98%;
        padding-left: 5px;
        transition: all 0.5s 0.8s ease;
    }
}
